body{
 font-family:Arial;
 padding:20px;
 background:#f4f6f8;
}

button{
 padding:10px;
 font-size:16px;
}

.card{
 background:white;
 margin-top:10px;
 padding:15px;
 border-radius:10px;
 box-shadow:0 2px 5px rgba(0,0,0,.1);
}
